*{
    margin: 0;
    padding: 0;
}

:root{
    --text-color: hsl(193, 38%, 86%);
    --advice-dice-color: hsl(150, 100%, 66%);
    --advice-card-color: hsl(217, 19%, 24%);
    --background-color: hsl(218, 23%, 16%);
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

.card{
    font-family:'Manrope', sans-serif;
    color: var(--text-color);
    background-color: var(--advice-card-color);
    width: 350px;
    height: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin: 10px;
}

.nmr-conselho{
    font-size: 15px;
    margin-top: 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: var(--advice-dice-color);
}

.conselho{
    margin-top: 10px;
    margin-bottom: 10px;
}



.padding-gereal{
    padding: 0px 8px;
}


.bolinha{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--advice-dice-color) ;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    transform: translateY(50%);
}

.card .bolinha:hover{
    color: #53FFAB;
    cursor: pointer;
    box-shadow: 0 5px 15px var(--advice-dice-color);
}


@media(min-width:768px){
    .card{
        width: 386px;
        padding-inline:50px ;
        height: 220px;
    }

    .conselho{
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 18px;
    }

}